Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- List in a table of data science tools
- Evaluate arithmetic expressions in Python

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn (Python)
2. pandas (Python)
3. seaborn (Python)
4. TensorFlow (Python)
5. ggplot (R)
6. caret (R)

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Google Colab|
|VSCode|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 - Create a code cell to multiply and add numbers

In [7]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Liu Fanxi

Exercise 12 - Share your notebook through GitHub

Upload your notebook to a public respository on GitHub.